@charset "utf-8";
/* CSS Document */
section{
	
	width: 85%;
	margin: auto;
	display: block;
}
article{
	float: left;
	padding: 1.2%;
	width: 33%;
	margin: auto;
	display: block;

}
article img{
	background: #FFE2FB;
	width: 70%;
	margin: auto;
	display: block;

}
article h1{
	font-size: 30PX;
	width: 50%;
	margin: auto;
	display: block;
	text-align: center;
}
article p{
	font-display:block;
	width: 90%;
	margin: auto;
	display: block;
	text-align: center;

}
@media (max-width: 880px) {

	article{
	float: left;
	margin: 10px;
	width: 45%;
	

    }article h1{
	font-size: 15PX;
	width: 80%;
	margin: auto;
	display: block;
	text-align: center;
}
	article p{
	font-size: 10px;
	width: 90%;
	margin: 10px;
	display: block;
	padding: 2%;

}

}
