@charset "utf-8";
/* CSS Document */
.slider
{
	width:100vh;
	height: 65vh;
    margin-left:25%;
    margin-top: 1%;
	
	overflow:hidden;
	
}
.slider ul
{
	display:flex;
	width:400vh;
	
	height: 100%;
	padding:0%;
	animation:cambio 17s infinite alternate linear;
}
.slider li
{
	list-style:none;
	width:100vh;
	height: 100%;
	
}
.slider img 
{
	width:100%;
	
}
@keyframes cambio
{
	0% {margin-left: 0;}
	35% {margin-left:0;}
	
	40% {margin-left:-100%;}
	65% {margin-left:-100%;}
	
	70% {margin-left:-200%;}
	100% {margin-left:-200%;}
}
@media (max-width: 880px) {
	.slider
{
	width:100%;
	height: 50%;
    margin-left:3%;
    margin-top: 0%;
	
	overflow:hidden;
	
}
	.slider ul
{
	display:flex;
	width:400%;
	
	
	}
.slider li
{
	list-style:none;
	width:100%;
	height: 100%;
	
}
	.slider img 
{
	margin: auto;
	display: block;
	width:90%;
	
}

}